.mycard{
    width: 100%;
    height: 90%;
    transition: ease-in-out 0.5s;
}

.mycard:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.card-img-top{
    MARGIN-top: 45px;
    width: 40%;
    height: 50%;
}

body{
    background-image: url('/Pictures/doodles_bg.jpg');
    background-size: cover;
}
footer a{
    color: white;
}

footer a:hover{
    color: #F4B740;
}