
.mycard{
    width: 100%;
    height: 90%;
    transition: ease-in-out 0.5s;
}

.mycard:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.card-img-top{
    MARGIN-top: 45px;
    width: 40%;
    height: 50%;
}

body{
    background-image: url('../img/doodles_bg.jpg');
    background-size: cover;
}
footer a{
    color: white;
}

footer a:hover{
    color: #F4B740;
}

main .aboutUs {
    padding-inline-start: 8px;
    width: 900px; /* Ajusta según lo que necesites */
    height: 500px;
    border-radius: 20px 50px 20px 50px; /* Esquinas cursivas alternadas */
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    background-image: url(../img/Generation.png);
    background-size: cover;
    background-position: center;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    background-color: #ededea;
}

h1 {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: "Comic Neue", cursive;
    font-weight: 550;
    font-style: normal;
}
.btn-warning {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}
.texto-profesional {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem 1.5rem;
  background: linear-gradient(135deg, #000000 0%, #5628d4 100%);
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 44px rgba(0, 0, 0, 0.15);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  transition: transform 0.3s, box-shadow 0.3s;
}

.texto-profesional h2 {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

.texto-profesional p {
  margin-bottom: 0;
  font-size: 1rem;
}

.texto-profesional:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
}

.developers-container {
  
  display: flex;
  justify-content: start;
  padding-top: 50px;
  overflow: hidden;
  position: relative;
  
}
/* desde los 992 pixeles, la clase .developers-container se le aplica un align-self: center*/
@media (min-width: 992px) {
  .developers-container {
    align-self: center;
  }
}

/* container */
.developer-person {
  transition: transform 0.3s ease, filter 0.3s ease;
}
/* positions */
.fernanda{
  
  z-index: 1;
  
}
.diego{

  z-index: 2; 
}
.gonzalo{
  z-index: 3;
}
.felipe{
  
  z-index: 2;
}
.margarita{
  
  z-index: 1;
}

.developer-img {
  width: 200%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.developer-person.hovered {
  transform: scale(1.15);
  z-index: 4;
}

.developers-hover .developer-person:not(.hovered) {
  filter: grayscale(100%) blur(3px);
}

.info-developers{
  background-color: #e5b8ee ; 
  border-radius: 30px;

}

.developer-box{
  width: 100%;
}
/* end ABOUT */
